/*CSS for Multi-Page Website*/


body{	
	font-size: 10px; /*em sizing from here on out is based off a 10px scale*/
	font-family: 'Istok Web', sans-serif;
	line-height: 1.8em;
	}
	
#header{	
	background-color: rgba(174,117,178,.35);
	text-align: center;
	}
	
/*#home h1{
	font-size: 1.8em;
	line-height: 1em;
	}*/
	










@media screen and (min-width: 45em){ /*change min width*/
	ul li{
		display:inline;
		}
	}