/*CSS for Multi-Page Website*/


/*Overall Styling*/

body{	
	font-size: 10px; /*em sizing from here on out is based off a 10px scale*/
	font-family: 'Istok Web', sans-serif;
	line-height: 1.8em;
	}
	
#content{
	font-size: 1.2em;
	line-height: 1.5em;
	}

	
	/*Header Styles*/
	
#header{	
	background-color: rgba(174,117,178,.35);
	text-align: center;
	}
	
h1{
	font-size: 1.8em;
	line-height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	}
	
nav{
	font-size: 1.2em;
	line-height: 1.5;
	padding: 1em;
	background-color: rgba(126,37,113,.6);
	}
	
nav li{
	font-size: 1.2em;
	padding: 1em;
	}

#content{
	padding-top: 3.6em;
	padding-left: 2em;
	padding-right: 2em;
	}
	
		
/*Homepage Specifics*/

#home h1{
	font-size: 2.4em;
	line-height: .75em;
	padding-top: 1em;
	padding-bottom: 1em;
	}
	
#home nav li{
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 1em;
	}

#home h3{	
	font-size: 1.4em;
	line-height: 1.286em;
	font-weight: bold;
	padding-bottom: 1.8em;
	}
	
	
/*Resume Specifics*/
	
h2{
	font-size: 1.8em;
	font-style: italic;
	line-height: 1em;
	text-align: center;
	}

#address{
	text-align: center;
	padding-bottom: 1.8em;
	border-bottom-style: groove;
	}
	
#resume ul{
	padding-bottom: 1.8em;
	}
	
#work ul, #leadership ul{
	list-style: disc;
	}
	
#cape{
	padding-top: 1.8em;
	}
	
	
	/*Contact Page Specifics*/
	
#tab{
	text-indent: 3em;
	}

#emailme{
	padding-bottom: 1.8em;
	border-bottom-style: groove;
	}
	
#socialmedia{
	padding-top: 1.8em;
	text-align: center;
	}
	
	/*Footer Styles*/
	
#footer{
	text-align: center;
	margin-top: 7.2em;
	background-color: rgba(174,117,178,.35);
	}
	
#copyright{
	padding-top:0.9em;
	padding-bottom:0.9em;
	background-color: rgba(126,37,113,.6);
	}

#medialinks li{
	display: inline;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 1em;
	padding-bottom: 0;
	}







/*Media Queries*/

@media screen and (min-width: 32em){ /*change min width*/
	nav ul li{
		display:inline;
		}
	}